/* Default theme below */
/* color theme https://coolors.co/palette/003153-4b9cd3-94b752-054a29 */

/* SASS color variations */

$color-beige: #F7F3D9;
$color-olive: #94B752;
$color-moss: #054A29;
$color-celeste: #4B9CD3;
$color-teal: #003153;

/* Style code below */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
* {
    font-family: Libre Baskerville, 'Times New Roman', Times, serif;
  
}

body {
  background: $color-beige linear-gradient(45deg, $color-moss, $color-celeste) fixed;
}


header {
  background-color: $color-moss;
  padding: 35px;
  text-align: center;
  font-size: 15px;
  color: white;
}

section {
  display: -webkit-flex;
  display: flex;

}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.8s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  position: fixed;
  font-size: 30px;
  color: black;
  padding: 10px 15px;
  border: none;
  z-index: 7;
  cursor: pointer;

}

nav {

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: $color-teal;
  }
  a:hover {
    text-decoration: underline;
  }
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
  
}

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: $color-beige;
  padding: 10px;
  
  a {
    text-decoration: none;
    color: $color-teal;
  }
  a:hover {
    text-decoration: underline;
  }
  button {
    display:inline-block;
    padding:0.2em 1.45em;
    margin:0.1em;
    border:0.15em solid #CCCCCC;
    border-radius: 10%;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:400;
    color:#000000;
    background-color:#CCCCCC;
    text-align:center;
    position:relative;
  }
  button:hover {
    border-color: $color-olive;
  }
  button:active {
    background-color: $color-olive;
    }
}

object {
  background-color: white;
  border: 50px;
  border-radius: 2%;
  padding: 10px;
}

/* Containers, Flex, placement code below */

.object-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.comment-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.post-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#comment-box, #post {
  border: none;
  border-radius: 5px;

}

footer {
  background-color: $color-teal;
  padding: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;
    position: fixed;
    z-index: 9;
  }
  .sidenav a {font-size: 18px;}
}
